In [32]:
import numpy as np
import pandas as pd

algo2 = pd.read_csv('algo2.csv')
optsol = pd.read_csv('optsol.csv')

In [33]:
algo2.head()

,runtime_algo2,input,input_size,vertex_count,cost_algo2,output_algo2
0,0.000075,"[1, 2, 3]",1,3,1,"['[(1, 2), (1, 3), (2, 3)]']"
1,0.000015,"[1, 3, 2]",1,3,1,"['[(1, 2), (1, 3), (3, 2)]']"
2,0.000020,"[2, 1, 3]",1,3,1,"['[(1, 3), (2, 1), (2, 3)]']"
3,0.000016,"[2, 3, 1]",1,3,1,"['[(2, 1), (2, 3), (3, 1)]']"
4,0.000032,"[3, 1, 2]",1,3,1,"['[(1, 2), (3, 1), (3, 2)]']"

In [34]:
optsol.head()

,input,input_size,vertex_count,cost_optsol,output_optsol
0,"[1, 2, 3]",1,3,1,"['[(2, 3), (1, 2), (1, 3)]']"
1,"[1, 3, 2]",1,3,1,"['[(3, 2), (1, 2), (1, 3)]']"
2,"[2, 1, 3]",1,3,1,"['[(2, 3), (1, 3), (2, 1)]']"
3,"[2, 3, 1]",1,3,1,"['[(2, 3), (3, 1), (2, 1)]']"
4,"[3, 1, 2]",1,3,1,"['[(3, 1), (3, 2), (1, 2)]']"

In [35]:
results = pd.merge(algo2, optsol, how='outer')

In [38]:
print(results.shape)
results.head()

(2212, 8)

,runtime_algo2,input,input_size,vertex_count,cost_algo2,output_algo2,cost_optsol,output_optsol
0,0.000075,"[1, 2, 3]",1,3,1,"['[(1, 2), (1, 3), (2, 3)]']",1,"['[(2, 3), (1, 2), (1, 3)]']"
1,0.000015,"[1, 3, 2]",1,3,1,"['[(1, 2), (1, 3), (3, 2)]']",1,"['[(3, 2), (1, 2), (1, 3)]']"
2,0.000020,"[2, 1, 3]",1,3,1,"['[(1, 3), (2, 1), (2, 3)]']",1,"['[(2, 3), (1, 3), (2, 1)]']"
3,0.000016,"[2, 3, 1]",1,3,1,"['[(2, 1), (2, 3), (3, 1)]']",1,"['[(2, 3), (3, 1), (2, 1)]']"
4,0.000032,"[3, 1, 2]",1,3,1,"['[(1, 2), (3, 1), (3, 2)]']",1,"['[(3, 1), (3, 2), (1, 2)]']"

In [43]:
results['isApprox'] = np.where(results['cost_algo2'] >= results['cost_optsol'], results['cost_algo2'], np.nan)
results['isApprox'].isna().sum()
# meaning faulty? :'))

618

In [46]:
fix = results[results['isApprox'].isna()]
fix

,runtime_algo2,input,input_size,vertex_count,cost_algo2,output_algo2,cost_optsol,output_optsol,isApprox
589,0.000314,"[1, 3, 2, 4]-[1, 3, 4, 2]-[1, 4, 2, 3]-[3, 1, ...",7,4,1,"['[(1, 2), (1, 4), (3, 2), (3, 4)]']",4,"['[(2, 3), (1, 4), (1, 2), (4, 3), (1, 3), (4,...",NaN
626,0.000244,"[1, 3, 2, 4]-[1, 3, 4, 2]-[2, 3, 4, 1]-[3, 1, ...",7,4,1,"['[(1, 2), (1, 4), (3, 2), (3, 4)]']",3,"['[(2, 3), (2, 4), (2, 1), (3, 4), (3, 1), (4,...",NaN
734,0.000409,"[1, 2, 3, 4]-[1, 2, 4, 3]-[2, 1, 3, 4]-[2, 1, ...",8,4,1,"['[(1, 3), (1, 4), (2, 3), (2, 4)]']",4,"['[(2, 3), (2, 4), (2, 1), (3, 4), (3, 1), (4,...",NaN
746,0.000260,"[1, 2, 3, 4]-[1, 4, 2, 3]-[1, 4, 3, 2]-[2, 1, ...",8,4,2,"['[(1, 3), (1, 4), (2, 3), (2, 4), (3, 4)]', '...",4,"['[(2, 3), (2, 4), (1, 2), (3, 4), (1, 3), (1,...",NaN
787,0.000382,"[1, 2, 4, 3]-[1, 3, 2, 4]-[1, 3, 4, 2]-[1, 4, ...",9,4,2,"['[(1, 2), (1, 3), (1, 4), (2, 3), (2, 4), (4,...",5,"['[(2, 3), (2, 4), (1, 2), (4, 3), (1, 3), (1,...",NaN
...,...,...,...,...,...,...,...,...,...
2207,0.009639,"[1, 2, 3, 4]-[1, 2, 4, 3]-[1, 3, 2, 4]-[1, 4, ...",23,4,2,"['[(1, 3), (1, 4), (2, 3), (2, 4)]', '[(1, 2),...",4,"['[(1, 3), (4, 2), (4, 3)]', '[(2, 4), (1, 3)]...",NaN
2208,0.009075,"[1, 2, 3, 4]-[1, 2, 4, 3]-[1, 3, 4, 2]-[1, 4, ...",23,4,1,"['[(1, 3), (1, 4), (2, 3), (2, 4)]']",4,"['[(2, 3), (2, 4), (1, 3)]', '[(1, 3), (4, 2)]...",NaN
2209,0.009534,"[1, 2, 3, 4]-[1, 3, 2, 4]-[1, 3, 4, 2]-[1, 4, ...",23,4,3,"['[(1, 2), (1, 3), (1, 4), (2, 4), (3, 4)]', '...",4,"['[(1, 2), (4, 2), (4, 3)]', '[(1, 2), (3, 4)]...",NaN
2210,0.009319,"[1, 2, 4, 3]-[1, 3, 2, 4]-[1, 3, 4, 2]-[1, 4, ...",23,4,3,"['[(1, 2), (1, 3), (1, 4), (2, 3), (4, 3)]', '...",4,"['[(3, 2), (1, 2), (3, 4)]', '[(1, 2), (4, 3)]...",NaN
2211,0.011203,"[1, 2, 3, 4]-[1, 2, 4, 3]-[1, 3, 2, 4]-[1, 3, ...",24,4,2,"['[(1, 3), (1, 4), (2, 3), (2, 4)]', '[(1, 2),...",4,"['[(1, 2), (1, 3), (1, 4)]', '[(2, 3), (2, 4),...",NaN